# Virtual environment
/.venv/

# Temporary Python files
*.pyc
__pycache__/
.coverage
/tmp/

# Generated project
/build/*
/dist
/.eggs/
/*.egg-info
/TemplateDemo/
*.xml


# My local testing
curl-examples
main.py
